extends ./layout.pug
block body
  if user_id
    h1= title

  else
    h2 You must be logged in to use this site.
    form.inline-form(method="POST" action="/users/login")
      div.form-group
        label(for='username') Enter Username
        input.form-control(type="text" name="username" placeholder="username")
      div.form-group
        label(for='password') Enter Password
        input.form-control(type="password" name="password" placeholder="Password")
      button#add.btn.btn-primary Login

    hr

    .well.well-sm
      p Need an account?
        a(href='/users/new-user')
          |  Register Now &rarr;
