doctype html
html
  head
    script(src="/jspm_packages/system.js")
    script(src="/config.js")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script
      | System.import('app');
    title= title
      |  | BetaApp
  body(style="display: none")
    div.container
      .page-header
        block header
          nav.navbar.navbar-default
            .container-fluid
              .navbar-header
                a.navbar-brand(href='/')
                  img(alt='Brand', src='/img/jh_Logo_Bug Small.jpg', width='25px')
              .collapse.navbar-collapse
                if user
                  ul.nav.navbar-nav
                    li
                      a(href='/tasks/' + user.id) Tasks
                    li
                      a(href='/users') Users
                p.navbar-text.navbar-right
                  if user
                    a(href="/users/logout") Log Out
                  else
                    a(href="/users/new-user") Register
                    |  or&nbsp;
                    a(href="/users/login") Login
              // /.navbar-collapse
      if flash_message
        p= flash_message
      block body
