extends ../layout.pug
block body
  h1
    if username
      username
    else
      Users

  ul
    each user in users
      li
        a(href="/users/" + user.id)= user.name

  hr

  a(href="users/new" class="btn btn-primary")
    | Create New User
